<app-nav-bar></app-nav-bar>
<p>
  <div class="row">
    <div class="col-12">
      <input #query
         (keyup)="filter(query.value)"
         type="text"
         class="form-control"
         placeholder="Type book name to search...">
    </div>
  </div>
  <p></p>
  <div class="row">
    <div class="col-3">
      <div class="sticky-top">
        <div class="list-group">
          <a class="list-group-item list-group-item-action"
             [class.active]="!category"
             routerLink="/home">All Categories</a>
          <a *ngFor="let c of categories"
             routerLink="/home"
             [queryParams]="{ category: c.id }"
             class="list-group-item list-group-item-action"
             [class.active]="category == c.id">
            {{ c.value }}
          </a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row">
        <ng-container *ngFor="let product of filteredProducts; let i = index">
          <div class="col">
            <div *ngIf="product.bookName"
                 class="card">
              <img *ngIf="product.imageUrl"
                   class="card-img-top"
                   [src]="product.imageUrl"
                   alt="{{ product.bookName }}">
              <div class="card-body">
                <h4 class="card-title">{{ product.bookName }}</h4>
                <p class="card-text">{{ product.bookPrice | currency:'&#8377;' }} / {{ product.dateOfPublication | date }}</p>
              </div>
            </div>
          </div>
          <div *ngIf="(i + 1) % 3 === 0"
               class="w-100"></div>
        </ng-container>
      </div>
    </div>
  </div>